.custom-button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Impact";
    -fx-font-size: 44px;
    -fx-background-radius: 30;
}

.custom-button:hover{
    -fx-background-color: #CCCCCC;
    -fx-text-fill: black;
    -fx-background-radius: 30;
}
