.custom-button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Impact";
    -fx-font-size: 44px;
    -fx-background-radius: 30;
}
.custom-button:hover{
    -fx-background-color: #CCCCCC;
    -fx-text-fill: black;
    -fx-background-radius: 30;
}
.title{
    -fx-font-family: "Impact";
    -fx-font-size: 174px;
    font-weight: bold;
}
.highscore{
   -fx-font-family: "Impact";
   -fx-font-size: 50px;
   -fx-text-fill: black;
   padding: 30px 0px 0px 0px;
}
.menu-background{
    -fx-background-image: url("Wallpaper.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.pane-background{
    -fx-background-image: url("Cubes.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}
.title-0 {
    -fx-fill: red;
}
.title-1 {
    -fx-fill: orange;
}
.title-2 {
    -fx-fill: yellow;
}
.title-3 {
    -fx-fill: green;
}
.title-4 {
    -fx-fill: blue;
}
.title-5 {
    -fx-fill: indigo;
}
.title-6 {
    -fx-fill: violet;
}